@model CafeManager.ViewModels.OrderViewModel

@{
}

<div class="align-content-center">
    <h1>Create Order</h1>
</div>
<form id="form" asp-controller="Order" asp-action="Create" method="post">
    <div class="mb-3">
        <label class="form-label">Waiter's Tipp</label>
        <input asp-for="Tipp" type="number" value="0" class="form-control"/>
    </div>
    <div class="mb-3">
        <label class="form-label">Waiter</label>
        @Html.DropDownListFor(model => model.WaiterId, Model.WaiterList, "Select Waiter", new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.WaiterId)
    </div>
    <div class="mb-3">
            <label class="form-label">Table</label>
            @Html.DropDownListFor(model => model.TableId, Model.TableList, "Select Table", new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.TableId)
        </div>

    <div class="mb-3">
        <label class="form-label">Has Client's Sale</label>
        <br/>
        <input class="form-check-input" data-val="true" 
               data-val-required="The Has Client's Sale field is required." 
               asp-for="HasClientsSale"
               name="HasClientsSale" 
               type="checkbox" 
               value="true" />
    </div>
    <div class="m-3 row">
        @{
            for (int i = 0; i < Model.Dishes.Count(); i++)
            {
                <div class="card m-1 col-auto">
                    <div class="card-body d-flex flex-row">
                        <input id = "@i+Dish" onclick="check(this)" value="@Model.Dishes[i].Id" class="form-check-input me-1" type="checkbox"/>
                        <p class="mb-0" style="margin-right: 10px;">@Model.Dishes[i].Name</p>
                        <input id = "@Model.Dishes[i].Id" onchange="change(this)" class="form-control" style="width: 50px" disabled type = "number"/>
                    </div>
                </div>
            }
            
        }
    </div>
    

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">
            <h3>Submit</h3>
        </button>
    </div>

</form>

<script>
var dishesCount = 0;
function check(element){
       var str = element.id;
       if(element.checked){
           document.getElementById(element.value).disabled = false;
           document.getElementById(element.value).value = 1;
           
           var input1 = document.createElement("input");
           input1.setAttribute("type", "hidden");
           input1.setAttribute("id", "Dish" + element.value);
           input1.setAttribute("name", `DishesOrdersList[${dishesCount}].DishId`);
           input1.setAttribute("value", element.value);
           document.getElementById("form").appendChild(input1);
           
           var input2 = document.createElement("input");
                      input2.setAttribute("type", "hidden");
                      input2.setAttribute("id", "DishAmount" + element.value);
                      input2.setAttribute("name", `DishesOrdersList[${dishesCount}].DishesAmount`);
                      input2.setAttribute("value", 1);
                      document.getElementById("form").appendChild(input2);
           
           dishesCount++;
       }else{
           document.getElementById(element.value).disabled = true;
           document.getElementById(element.value).value = null;
           document.getElementById("Dish" + element.value).remove();
           document.getElementById("DishAmount" + element.value).remove();
           dishesCount--;
       }
}

function change(element){
    document.getElementById("DishAmount"+element.id).value = element.value;
}
</script>

