@model CafeManager.Application.Paging.PagedList<CafeManager.Core.Entities.Order>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-4">
    <h1> Orders </h1>
    <div class="p-3 d-flex justify-content-end">
        <a href="/Order/Create" class="btn rounded-circle btn-secondary">+</a>
    </div>
    
    <div><h1></h1></div>
</div>
<div>
    <table class="table table-bordered table-responsive table-hover border border-0 border-dark">
        <tr>
            <th>Order Number</th>
        </tr>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.Id 
                    <a href="/Order/Details/@d.Id.ToString()" style="width: 100px" class="btn btn-secondary float-end">Details</a>
                    <a href="/Order/GenerateInvoice/@d.Id.ToString()" style="width: 150px" class="btn btn-secondary float-end">Get Invoice</a>
                </td>
                
            </tr>
        }

    </table>

</div>

@{
    var previousPage = (Model.HasPreviousPage) ? "" : "disabled";
    var nextPage = (Model.HasNextPage) ? "" : "disabled";
}

<nav class=mt-4>
    <ul class="pagination justify-content-center">
        <li class="page-item @previousPage">
            <a asp-action="Index" asp-route-PageNumber="@(Model.PageNumber - 1)" class="page-link">Previous</a>
        </li>
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            string linkStatus = (i == Model.PageNumber) ? "active" : "";
            <li class="page-item @linkStatus">
                <a asp-action="Index" asp-route-PageNumber="@i" class="page-link">@i</a>
            </li>
        }
        <li class="page-item @nextPage">
            <a asp-action="Index" asp-route-PageNumber="@(Model.PageNumber + 1)" class="page-link">Next</a>
        </li>
    </ul>
</nav>
