@using Microsoft.IdentityModel.Tokens
@model List<CafeManager.Core.Entities.Dish>

@{
    
}



<div class="align-content-center">
    <h1 class="mb-3"> Dish of The Day</h1>
</div>
@if(Model.IsNullOrEmpty()){
    <h4>Unfortunately there is no opportunity to make Special Offers</h4>
}
else
{
    foreach (var d in Model)
    {
        <div>
            <img src = "@d.Image" width="500px"/>
        </div>
        <div>
            <h1>@d.Name</h1>
            <h4>Complexity(from 1 to 5) - @d.Complexity</h4>
            <h4>Category - @d.Category.Name</h4>
            <h4>Price of ingredients - @d.Price</h4>
            <h4>@d.Volume @d.Unit.Name</h4>
            <h4>Nutritional value - @d.Calories cal.</h4>
            <h4>Sales - @d.Sales</h4>
            <h4>@d.Description</h4>
        </div>
        <div class="mb-3">
            @{
                Html.RenderPartial("_DishesProducts", d.DishesProducts);
            }
        </div>
    }
    
}