@model CafeManager.Application.Paging.PagedList<CafeManager.Core.Entities.Dish>

@{
    
}

<!DOCTYPE html>

<h1>The most popular dishes</h1>

@foreach (var d in Model)
{
    <div>
        <img src = "@d.Image" width="500px"/>
    </div>
    <div>
        <h1>@d.Name</h1>
        <h4>Complexity(from 1 to 5) - @d.Complexity</h4>
        <h4>Category - @d.Category.Name</h4>
        <h4>Price - @d.Price</h4>
        <h4>@d.Volume @d.Unit.Name</h4>
        <h4>Nutritional value - @d.Calories cal.</h4>
        <h4>Sales - @d.Sales</h4>
        <h4 class="mb-2">@d.Description</h4>
    </div>
    <br/><br/>
}
