@model CafeManager.Application.Paging.PagedList<CafeManager.Core.Entities.Category>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-4">
    <h1> Categories </h1>
</div>
<div>
    <div class="p-3 d-flex justify-content-end">
        <a href="/Category/Create" class="btn rounded-circle btn-secondary">+</a>
    </div>
    <div><h1></h1></div>

    <div class="container">
        <table class="table table-bordered table-responsive table-hover border border-0 border-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            @foreach (var c in Model)
            {
                <tr>
                    <td>@c.Id.ToString()</td>
                    <td>@c.Name</td>
                    <td><a href="/Category/Edit/@c.Id.ToString()" style="width: 100px" class="btn btn-warning">Edit</a>
                        <a href="/Category/DeleteCategory/@c.Id.ToString()" style="width: 100px" class="btn btn-danger">Delete</a></td>
                </tr>
            }
        </table>
    </div>
</div>
<br/>
@{
    var previousPage = (Model.HasPreviousPage) ? "" : "disabled";
    var nextPage = (Model.HasNextPage) ? "" : "disabled";
}

<nav class=mt-4>
    <ul class="pagination justify-content-center">
        <li class="page-item @previousPage">
            <a asp-action="Index" asp-route-PageNumber="@(Model.PageNumber - 1)" class="page-link">Previous</a>
        </li>
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            string linkStatus = (i == Model.PageNumber) ? "active" : "";
            <li class="page-item @linkStatus">
                <a asp-action="Index" asp-route-PageNumber="@i" class="page-link">@i</a>
            </li>
        }
        <li class="page-item @nextPage">
            <a asp-action="Index" asp-route-PageNumber="@(Model.PageNumber + 1)" class="page-link">Next</a>
        </li>
    </ul>
</nav>
