@model CafeManager.Application.Paging.PagedList<CafeManager.Core.Entities.Dish>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-4">
    <h1> Dishes </h1>
    <div class="p-3 d-flex justify-content-end">
        <a href="/Dish/Create" class="btn rounded-circle btn-secondary">+</a>
    </div>
    
    <div><h1></h1></div>
</div>
<div class="container">
    <div class="row">
        
        @foreach (var d in Model)
        {
            <div class="col-4">
                <img src="@d.Image" style="object-fit: cover" class="w-100 h-100"/>
                <h3>@d.Name, @d.Price.ToString()</h3>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <a href="/Dish/Edit/@d.Id.ToString()" type="button" class="btn btn-outline-secondary">Edit</a>
                  <a href="/Dish/DeleteDish/@d.Id.ToString()" type="button" class="btn btn-outline-secondary">Delete</a>
                  <a href="/Dish/Details/@d.Id.ToString()" type="button" class="btn btn-outline-secondary">Details</a>
                </div>
            </div>
        }
        
        
    </div>
</div>

@{
    var previousPage = (Model.HasPreviousPage) ? "" : "disabled";
    var nextPage = (Model.HasNextPage) ? "" : "disabled";
}

<nav class=mt-4>
    <ul class="pagination justify-content-center">
        <li class="page-item @previousPage">
            <a asp-action="Index" asp-route-PageNumber="@(Model.PageNumber - 1)" class="page-link">Previous</a>
        </li>
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            string linkStatus = (i == Model.PageNumber) ? "active" : "";
            <li class="page-item @linkStatus">
                <a asp-action="Index" asp-route-PageNumber="@i" class="page-link">@i</a>
            </li>
        }
        <li class="page-item @nextPage">
            <a asp-action="Index" asp-route-PageNumber="@(Model.PageNumber + 1)" class="page-link">Next</a>
        </li>
    </ul>
</nav>
