@model CafeManager.Application.Paging.PagedList<CafeManager.Core.Entities.Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-4" xmlns="http://www.w3.org/1999/html">
    <h1> Product </h1>
</div>
<div>
    <div class="p-3 d-flex justify-content-between">
        <div>
            <a class="btn btn-secondary" asp-action="Index" asp-route-Sort="Newest">Newest</a>
            <a class="btn btn-secondary" asp-action="Index" asp-route-Sort="Oldest">Oldest</a>
        </div>
        <a href="/Product/Create" class="btn rounded-circle btn-secondary">+</a>
    </div>
    <div><h1></h1></div>

    <div class="container">
        <table class="table table-bordered table-responsive table-hover border border-0 border-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Best Before</th>
                <th>Actions</th>
            </tr>
            @foreach (var c in Model)
            {
                <tr>
                    <td>@c.Id.ToString()</td>
                    <td>@c.Name</td>
                    <td>@c.Quantity</td>
                    <td>@c.Price</td>
                    <td>@c.BestBefore.Date.ToString("dd-MM-yyyy")</td>
                    <td><a href="/Product/Edit/@c.Id.ToString()"  class="btn btn-warning w-50">Edit</a>
                        <a href="/Product/DeleteProduct/@c.Id.ToString()"  class="btn btn-danger w-50">Delete</a></td>
                </tr>
            }
        </table>
    </div>
</div>
<br/>
@{
    var previousPage = (Model.HasPreviousPage) ? "" : "disabled";
    var nextPage = (Model.HasNextPage) ? "" : "disabled";
}

<nav class=mt-4>
    <ul class="pagination justify-content-center">
        <li class="page-item @previousPage">
            <a asp-action="Index" asp-route-PageNumber="@(Model.PageNumber - 1)" asp-route-Sort="@Model.Sort"  class="page-link">Previous</a>
        </li>
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            string linkStatus = (i == Model.PageNumber) ? "active" : "";
            <li class="page-item @linkStatus">
                <a asp-action="Index" asp-route-PageNumber="@i" asp-route-Sort="@Model.Sort" class="page-link">@i</a>
            </li>
        }
        <li class="page-item @nextPage">
            <a asp-action="Index" asp-route-PageNumber="@(Model.PageNumber + 1)" asp-route-Sort="@Model.Sort" class="page-link">Next</a>
        </li>
    </ul>
</nav>
